#payment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .cart-details, .bloc-droit {
    flex-basis: 48%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    background-color: white;
  }
  
  .title-cart {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .bloc-details-panier {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .largeur-ligne {
    /* Ajoutez ici vos styles pour .largeur-ligne */
  }
  
  .largeur-ligne table {
    width: 100%;
    border-collapse: collapse; /* Pour enlever l'espace entre les bordures */
  }
  
  .largeur-ligne th, .largeur-ligne td {
    border: 1px solid #ddd; /* Ajoute une bordure */
    padding: 8px; /* Ajoute un peu d'espace autour du texte */
    text-align: left; /* Alignement du texte à gauche */
  }
  
  .largeur-ligne img.img-panier {
    width: 50px; /* Taille de l'image, à ajuster selon les besoins */
    height: auto; /* Garde le ratio de l'image */
  }
  
  
  .total {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    padding-top: 15px;
    text-align: center;
  }
  
  #payment-element {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #submit {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
  }
  
  #submit:disabled {
    background-color: #999;
    cursor: not-allowed;
  }
  
  #button-text {
    display: block;
    min-height: 18px;
  }
  
  #payment-message {
    color: red;
    margin-top: 20px;
  }
  