.details{
    background-image: url('../../public/images/fond-ecran.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; /* Ceci fixe l'arrière-plan par rapport à la fenêtre d'affichage */
    height: 100%;
    
    text-align: center;
    
}

.details img{
width: 30%;
margin:50px auto;

}

.details h3{
    margin:25px;
}

.details p{
    margin:25px;
}

.details button{
    margin:25px;
    padding:8px;
    background-color: #007BFF;
    border-radius: 4px;
    color:white;
    border:0;
}
.details button:hover{
    margin:25px;
    padding:8px;
    background-color: #007BFF;
    color:white;
    font-size: 1.2em;
}